body {
  background-color: #ddf0f3!important;
  display: grid;
  place-items: center;
  text-align: center!important;
} 

.wrapper {
  box-sizing: border-box;
  margin: 3rem 0 0 0;
}

.welcomeContainer{
  background-color: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #F0F8FF;
  border-radius: 10px;
  min-width: 30vw;
  padding: 50px 25px 40px 25px;
  margin: 3rem 0 0 0;

}

.welcomeHeader {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 10px;

}

.welcomeSubtext {
  font-weight: lighter;
  font-size: 1.5rem;
  padding-bottom: 50px;
}

.todoContainer {
  background-color: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #e2e9f0;
  border-radius: 10px;
  min-width: 30vw;
  padding: 50px 25px 40px 25px;
  margin: 3rem 0 0 0;
}

.todoHeader {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 30px;
}

.completeCount {
  padding-bottom: 15px;
}

.todoInputLabel {
  padding-top: 15px;
}

.formControl {
  box-sizing: border-box;
  border: 1px solid #abb5be;
  border-radius: 5px;
  width: 95%;
}

.buttonContainer {
  padding-top: 15px;
}

.buttonContainer button:not(:first-child) {
  margin-left: 5px;
}

.logoutButton {
  padding-top: 15px;

}
