.deleteButton {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-left: 10px;
}

.todoItem {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.todoItem label {
    margin: 0;
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.todoItem label input {
    margin-right: 5px;
    cursor: pointer;
}